.container{
    display: grid;
    grid-template-areas: "A1 A4"
    "A2 A4"
    "A3 A4";
    gap: 10px;
}
body{
    padding-left: 200px; 
    padding-right: 200px;
}
@media (max-width:768px){
    body{
        padding-left: 50px; 
        padding-right: 50px; 
    }

}